<div class="relative h-[100dvh] overflow-hidden">
  <div class="absolute bottom-0 w-full z-10">
    <div class="flex flex-col justify-center items-center">
      <div class="opacity-0 sm:opacity-100 transition-all text-black bg-white rounded-t-xl hover:bg-gray border-darker-gray border-t -mb-[1px] border-x w-12 h-10 flex justify-center items-center cursor-pointer z-20" (click)="controlsToggled = !controlsToggled">
        <ng-icon name="heroChevronUp" class="transition-all duration-500 transform ease-in-out" [ngClass]="{ 'rotate-180': controlsToggled }"></ng-icon>
      </div>
      <div class="transform ease-in-out transition-all duration-500" [ngClass]="{ 'h-52': controlsToggled, 'h-0': !controlsToggled }">
        <div class="px-4 py-3 bg-white text-black rounded-t-xl border-darker-gray border flex justify-center items-center h-52">
          <app-tunnel-interface #interface (cameraPositionChanged)="setCameraLookPosition($event)"></app-tunnel-interface>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute top-0 w-screen h-[100dvh] bg-black">
    <div class="w-full h-full" #threeContainer></div>
  </div>
</div>